<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="ConexionDB" connectionString="provider=Microsoft.ACE.OLEDB.12.0;Jet OLEDB:Database Password=LuinDB*;data source =|DataDirectory|\Assets\DB\RemisionesDB.mdb"/>-->
		<add name="ConexionDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data source =|DataDirectory|\Assets\DB\RemisionesDB.mdb; Persist Security Info=False"/>
	</connectionStrings>
</configuration>